/* GENERAL STYLING */
body {
    background-color: beige;
    font-family: "Afacad Flux", sans-serif;
    padding: 0% 350px 0%;
    margin: 20px 0px;
    text-align: center;
}

.list-item {
    list-style: none;
    text-decoration: none;
}
.subheading {
    color: #2e3b11;
    font-size: 1.15rem;
    font-weight: 600;
    margin-right: 5px;
}

.main-container {
    border: 3px solid darkolivegreen;
    border-radius: 10px;
    padding: 30px 0px 20px;
}

.input-field {
    font-family: "Afacad Flux", sans-serif;
    font-size: 1.15rem;
    text-align: center;
    width: 100px;
}

#output {
    color: #2e3b11;
    font-size: 2rem;
    font-weight: 900;
}

.heading-text {
    color: #2e3b11;
    font-size: 2rem;
    font-weight: 900;
    padding-top: 20px;
}
.welcome-msg {
    color: midnightblue;
    font-size: 2rem;
    font-weight: 900;
    padding-top: 30px;
}

.all-btn {
    background-color: darkolivegreen;
    border-radius: 10px;
    color: beige;
    font-family: "Afacad Flux", sans-serif;
    font-size: 1rem;
    padding: 5px;
}
.all-btn:hover {
    background-color: olive;
    font-weight: 700;
}
.all-btn:active {
    background-color: beige;
    color: darkolivegreen
}
.about-app-btn {
    margin-top: 30px;
    width: 30%;
}

.reset-btn {
    background-color: olive;
}

.output-btn {
    background-color: #2e3b11;
    margin-top: 10px;
}

.history-btn {
    background-color: lightcyan;
    color: #2e3b11;
}

.other-option-btn {
    margin-top: 15px;
}
.hide {
    visibility: hidden;
}


/* CUSTOM STYLING */


/* Main Page */
.main-page-link:hover {
    color: midnightblue;
    font-weight: 900;
}


/* About Page */
.about-main-container {
    border: 3px solid darkolivegreen;
    border-radius: 10px;
    /* padding: 10px 50px 20px; */
    text-align: left;
}

.about-list-items {
    color: darkolivegreen;
    font-size: 1.25rem;
    font-family: "Afacad Flux", sans-serif;
    list-style: circle;
    padding: 1rem;
    text-decoration: none;
}

