<%- include("partials/header.ejs") %>

<body>
    <a href="/main.ejs">
        <button class="all-btn main-menu-btn">
            Main Menu
        </button>
    </a>
    <h1 class="heading-text">
        About the App
    </h1>

    <div class="about-main-container">
        
        <p class="about-body-text">
           
            <ul>
                <li class="about-list-items">
                    A rollover in sports betting involves staking a 'starting capital' or base amount on a fixed number of odds or price, 
                    then restaking the profits made repeatedly. A technique used to 'grow' the money. Usually done for a fixed number of repitions.
                    This app is intended to be used as an easy evaluation tool by someone intending to attempt a rollover bet or curious about all the numbers involved.
                </li>

                <li class="about-list-items">
                    This app calculates the final amount after a fixed number of rollovers (iterations), given the starting capital, 
                    a fixed number of odds, and the intended number of iterations. This app can be designed on demand to ensure there is a fixed upper limit of iterations.
                </li>

                <li class="about-list-items">
                  This app will also store each potential winning amount at every step of the iteration in an array.
                </li>

                <li class="about-list-items">
                    This progarm is able to retrieve select potential winnings on demand based on a given iteration number (accessible using array indexes).
                </li>

                <li class="about-list-items">
                    This app will calculate the total amount staked at each iteration.
                </li>
                
                <li class="about-list-items">
                    This app will calculate the total amount of money staked in the process. 
                </li>

                </li>
            </ul>
        </p>

    </div>


    <!-- <script src="/main.js"></script> -->
</body>
</html>