<%- include("partials/header.ejs") %>
<body>

    <h1 class="welcome-msg">
        Welcome to the Rollover Calculator App
    </h1>

    <h2 class="heading-text">
       Menu
    </h2>

    <div class="main-container">
        <ul>
            <a class="list-item subheading main-page-link" href="/calc.ejs"> <li>Calculate Potential Winnings</li> </a>
            <br>
            <a class="list-item subheading main-page-link" href=""> <li>Calculate Total Stakes</li> </a>
            <br>
            <a class="list-item subheading main-page-link" href=""> <li>View History</li> </a>
        </ul>

    </div>

    <div>
        <a href="about.ejs">
            <button class="all-btn about-app-btn">
                About App
            </button>
        </a>
    </div>



    <!-- <script src="/main.js"></script> -->
</body>
</html>